@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Khand:wght@600&family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap');

body {
    color: white;
    background: #1d1660;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo {
    width: 80%;
    height: auto;
}
.character {
    /* width: 20%; */
    position: absolute;
    right: -2%;
}
#goto {
    width: 26%;
    bottom: -35%;
}
#hiraoka {
    width: 22%;
    bottom: -32%;
}
#ogata {
    width: 17%;
    bottom: -35%;
}
#shimoda {
    width: 25%;
    bottom: -35%;
}
/* Start Page */
.startPageWrapper {
    cursor: pointer;
    font-size: 10vw;
    font-family: 'Rampart One';
    font-weight: 900;
    text-align: center;
}
.startBtn {
    display: flex;
    width: 90%;
    margin: 10px 20px;
    cursor: pointer;
    border: solid 5px #9cc3e6;
    background: #3a3938;
    align-items: center;
    border-radius: 15px;
    justify-self: center;
}
.startBtn:hover {
    background: #ffc002;
}
.startBtn .btnTxt {
    text-align: center;
}
.startBtn:hover .btnTxt {
    color: white;
    background: #ffc100;
}


/* Quiz Page */
.quizWrapper {
    transition: all 0.5s ease-out;
}
.hide {
    top: -400%;
}
.show {
    top: 0%;
}
.header {
    margin: 35px 25px 0px 25px;
    display: flex;
    font-size: 35px;
    font-weight: 900;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}
#countdown {
    color: red;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}

.questionTxt {
    border: solid 5px #9bc3e4;
    margin: 10px 20px;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    letter-spacing: -1px;
    background-color: #3a3938;
    text-align: center;
}

.btnRow {
    display: flex;
    text-align: center;
}
.answerBtn {
    display: flex;
    width: 90%;
    margin: 10px 20px;
    cursor: pointer;
    border: solid 5px #9cc3e6;
    background: #3a3938;
    align-items: center;
    border-radius: 15px;
}
.answerBtn:disabled {
    background: #959595;
    pointer-events: none;
}
.answerBtn:hover {
    color: black;
    background: #ffc100;
}
.answerBtn:hover .btnTxt {
    color: black;
    background: #ffc100;
}
.answerBtn:disabled .btnTxt {
    color: white;
    background: #959595;
    transform: translateY(0px) translateX(0px);
    pointer-events: none;
}
.answerBtn.clicked {
    color: black;
    background: #ffc100;
}
.answerBtn.clicked .btnTxt {
    color: black;
    background: #ffc100;
} 
.answerNum {
    font-size: 35px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 800;
    color: gray;
    margin-left: 10px;
}
.btnTxt {
    color: white;
    padding: 12px 10px;
    /* display: flex; */
    font-size: 28px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 600;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    text-align: initial;
}
.answerBtn.right {
    border-style: dashed;
    border-width: 4px;
    border-color: red;
}
.answerBtn.wrong {
    border-style: dashed;
    border-width: 4px;
    border-color: #ffffff00;
}

.quizResult {
    color: #d20000;
    font-size: 25px;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* 対象以外のページ */
.notAvailable {
    display: none;
    font-size: 7vw;
    text-align: center;
    font-weight: 800;
    margin-top: 150px;
}
.emoji {
    color: white;
    text-shadow: 0px 0px 3px black;
}
.back {
    color: #5c5c5c;
    width: 170px;
    border: solid;
    margin: 10px auto;
    cursor: pointer;
    font-size: 70px;
    align-items: center;
    border-radius: 50%;
    background: white;
}
.back:hover {
    background: #5c5c5c;
    color: white;
}


pre {
    color: black;
    margin: 10px 0px;
    border: solid 0.5px black;
    font-size: 15px;
    background: #f2f2f2;
    border-radius: 15px;
    /* word-break: break-all; 텍스트가 넘칠경우 줄바꿈을 해준다 */
    white-space: pre-wrap; /* 공백이나 탭공간을 그대로 둔다 */
}

@media screen and (min-width: 300px) and (max-width: 500px){
    body {
        font-size: 15px;
    }
    .header {
        font-size: 25px;
    }
    #countdown {
        font-size: 25px;
    }
    .questionTxt {
        font-size: 15px;
        margin: 5px;
    }
    .btnTxt,.quizResult {
        font-size: 14px;
        padding: 2px;
    }
    .answerBtn {
        margin: 5px;
    }
    .answerNum {
        font-size: 15px;
    }
    .startBtn {
        width: 290px;
    }
    .startBtn .btnTxt {
        width: 200px;
        font-size: 40px;
    }
    #goto {
        width: 30%;
        bottom: -35%;
        right: -6%;
    }
    #hiraoka {
        bottom: -50%;
        width: 24%;
        right: -3%;
    }
    #ogata {
        bottom: -55px;
        width: 23%;
    }
    #shimoda {
        width: 27%;
        bottom: -43%;
        right: -5%;
    }
}
