@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Khand:wght@600&family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&display=swap');

body {
    color: #bb5252;
    background: #f7ede2;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.imgWrapper {
    text-align: center;;
}
img {
    max-width: 350px;
    height: auto;
}
/* Start Page */
.startPageWrapper {
    color: #853a3a;
    cursor: pointer;
    font-size: 10vw;
    font-family: 'Rampart One';
    font-weight: 900;
    text-align: center;
}
.startBtn {
    width: 445px;
    color: white;
    font-size: 12vw;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 800;
    margin-top: 35px;
    cursor: pointer;
    border: none;
    padding: 0;
    background: #f28482;
    border-radius: 12px;
    outline-offset: 4px;
}
.startBtn .btnTxt {
    font-size: 65px;
    width: 350px;
}
.startBtn:hover .btnTxt {
    color: white;
    background: #e888889c;
}
.startBtn:active .btnTxt {
    transform: translateY(-2px) translateX(-2px);
}


/* Quiz Page */
.quizWrapper {
    transition: all 0.5s ease-out;
}
.hide {
    top: -400%;
}
.show {
    top: 0%;
}
.header {
    height: 60px;
    margin: 0px 25px;
    display: flex;
    font-size: 35px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}
#countdown {
    width: 50px;
    color: white;
    padding: 5px;
    text-align: center;
    background: #ffa1a2;
    box-shadow: 2px 2px 3px #515151;
    text-shadow: 0px 0px 15px white;
    font-weight: 800;
    border-radius: 50%;
    opacity: 0;
}

.questionTxt {
    border: solid 3px #e88888;
    margin: 10px 20px;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    letter-spacing: -1px;
    background-color: white;
    text-align: center;
}

.btnRow {
    display: flex;
    text-align: center;
}
.answerBtn {
    display: flex;
    width: 90%;
    margin: 10px;
    cursor: pointer;
    border: none;
    background: #f5cac4;
    align-items: center;
}
.answerBtn:hover {
    background: #bb5252;
}
.answerBtn:hover .btnTxt {
    color: white;
    background: #bb5252;
}
.answerBtn:active .btnTxt {
    transform: translateY(-2px) translateX(-2px);
}
.answerBtn:disabled .btnTxt {
    color: white;
    background: #959595;
    transform: translateY(0px) translateX(0px);
    pointer-events: none;
}
.answerBtn.clicked {
    background: #bb5252;
}
.answerBtn.clicked .btnTxt {
    background: #bb5252;
} 
.answerNum {
    color: gray;
}
.btnTxt {
    color: #bb5252;
    padding: 12px 42px;
    /* display: flex; */
    font-size: 28px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 800;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
}
.answerBtn.right {
    border-style: dashed;
    border-width: 4px;
    border-color: red;
}
.answerBtn.wrong {
    border-style: dashed;
    border-width: 4px;
    border-color: #ffffff00;
}

.quizResult {
    color: #d20000;
    font-size: 25px;
    font-weight: 600;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* 対象以外のページ */
.notAvailable {
    opacity: 0;
    font-size: 7vw;
    text-align: center;
    font-weight: 800;
    margin-top: 150px;
}
.emoji {
    color: white;
    text-shadow: 0px 0px 3px black;
}
.back {
    color: #5c5c5c;
    width: 170px;
    border: solid;
    margin: 10px auto;
    cursor: pointer;
    font-size: 70px;
    align-items: center;
    border-radius: 50%;
    background: white;
}
.back:hover {
    background: #5c5c5c;
    color: white;
}


pre {
    color: black;
    margin: 10px 0px;
    border: solid 0.5px black;
    font-size: 15px;
    background: #f2f2f2;
    border-radius: 15px;
    /* word-break: break-all; 텍스트가 넘칠경우 줄바꿈을 해준다 */
    white-space: pre-wrap; /* 공백이나 탭공간을 그대로 둔다 */
}
/* 
.prompt {
    color: #b00;
}
  
samp > kbd {
    font-weight: bold;
}

.cursor {
    color: #00b;
} */

@media screen and (min-width: 300px) and (max-width: 500px){
    body {
        font-size: 15px;
    }
    img {
        max-width: 250px;
    }
    .header {
        font-size: 25px;
    }
    #countdown {
        width: 35px;
    }
    .questionTxt {
        font-size: 15px;
    }
    .btnTxt,.quizResult {
        font-size: 14px;
    }
    .startBtn {
        width: 290px;
    }
    .startBtn .btnTxt {
        width: 200px;
        font-size: 40px;
    }
}
